html {
	scroll-behavior: smooth;
	font-size: 10px;
	line-height: 1;
}

body {
	width: 100%;
	height: 100%;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	overflow-x: hidden!important;
	/*overflow-y: scroll;*/
	font-family: var(--font-family);
	font-weight: 500;
	line-height: 1;
	text-align: left;
}