@font-face {
	font-family: ;
	src: local(""), url();
	font-display: swap;
}

/*
	CSS Variables
*/

:root {
	/* 
		Main Variables
	*/
	--font-family: '', sans-serif;
    --headers-font-family: '', sans-serif;
    --transition: .4s cubic-bezier(.23,1,.32,1);

    /*
        Margin and Padding's Variables
    */
    --margin-step: 4px;
    --padding-step: 4px;
	
	/*
		Colors Variables
	*/

	/*
		CSS Grid Variables
    */
    --grid-step: 4px;

	--grid-col-gap-xs:	var(--grid-step);
	--grid-col-gap-s:	calc(var(--grid-step) * 2);
	--grid-col-gap-m:	calc(var(--grid-step) * 3);
	--grid-col-gap-l:	calc(var(--grid-step) * 4);
	--grid-col-gap-xl:	calc(var(--grid-step) * 6);
	--grid-col-gap-2xl:	calc(var(--grid-step) * 8);
	--grid-col-gap-3xl:	calc(var(--grid-step) * 10);
    --grid-col-gap-4xl:	calc(var(--grid-step) * 14);
    
	--grid-row-gap-xs:	var(--grid-step);
	--grid-row-gap-s:	calc(var(--grid-step) * 2);
	--grid-row-gap-m:	calc(var(--grid-step) * 3);
	--grid-row-gap-l:	calc(var(--grid-step) * 4);
	--grid-row-gap-xl:	calc(var(--grid-step) * 6);
	--grid-row-gap-2xl:	calc(var(--grid-step) * 8);
	--grid-row-gap-3xl:	calc(var(--grid-step) * 10);
	--grid-row-gap-4xl:	calc(var(--grid-step) * 14);
}